In [2]:
from sklearn.datasets import load_diabetes 
import pandas as pd 

wine_data = load_diabetes(as_frame=True)
df = pd.DataFrame(wine_data['data'])
y = pd.DataFrame(wine_data['target'])
df['target'] = y
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6',
       'target'],
      dtype='object')

In [3]:
from random import sample

# remove values
idxs_rows = sample(range(len(df)), 10)
columns = df.columns
idxs_cols = sample(range(len(columns)), 4)
print(f"Modified rows: {idxs_rows}")
print(f"Modified cols: {idxs_cols}")

for idxr in idxs_rows:
    for idxc in idxs_cols:
        df.iloc[idxr][columns[idxc]] = None

# convert values to string
idxs_rows = sample(range(len(df)), 20)
columns = df.columns
idxs_cols = sample(range(len(columns)), 5)
print(f"Modified rows: {idxs_rows}")
print(f"Modified cols: {idxs_cols}")

for idxr in idxs_rows:
    for idxc in idxs_cols:
        value = df.iloc[idxr][columns[idxc]]
        df.iloc[idxr][columns[idxc]] = f"{value}"

# add negative values
idxs_rows = sample(range(len(df)), 5)
columns = df.columns
idxs_cols = sample(range(len(columns)), 5)
print(f"Modified rows: {idxs_rows}")
print(f"Modified cols: {idxs_cols}")

# add large values
idxs_rows = sample(range(len(df)), 5)
columns = df.columns
idxs_cols = sample(range(len(columns)), 5)
print(f"Modified rows: {idxs_rows}")
print(f"Modified cols: {idxs_cols}")

for idxr in idxs_rows:
    for idxc in idxs_cols:
        value = df.iloc[idxr][columns[idxc]]
        df.iloc[idxr][columns[idxc]] = value * 10**4

Modified rows: [263, 76, 426, 264, 105, 218, 300, 383, 136, 164]
Modified cols: [5, 3, 10, 1]
Modified rows: [330, 432, 175, 260, 114, 96, 150, 384, 173, 410, 321, 265, 108, 333, 199, 54, 357, 164, 218, 92]
Modified cols: [4, 7, 2, 10, 8]
Modified rows: [141, 230, 72, 76, 5]
Modified cols: [2, 8, 7, 3, 0]
Modified rows: [365, 28, 67, 405, 32]
Modified cols: [5, 2, 3, 6, 4]

In [4]:
df.values

array([[ 3.80759064e-02,  5.06801187e-02,  6.16962065e-02, ...,
         1.99084209e-02, -1.76461252e-02,  1.51000000e+02],
       [-1.88201653e-03, -4.46416365e-02, -5.14740612e-02, ...,
        -6.83297436e-02, -9.22040496e-02,  7.50000000e+01],
       [ 8.52989063e-02,  5.06801187e-02,  4.44512133e-02, ...,
         2.86377052e-03, -2.59303390e-02,  1.41000000e+02],
       ...,
       [ 4.17084449e-02,  5.06801187e-02, -1.59062628e-02, ...,
        -4.68794828e-02,  1.54907302e-02,  1.32000000e+02],
       [-4.54724779e-02, -4.46416365e-02,  3.90621530e-02, ...,
         4.45283740e-02, -2.59303390e-02,  2.20000000e+02],
       [-4.54724779e-02, -4.46416365e-02, -7.30303027e-02, ...,
        -4.21985971e-03,  3.06440941e-03,  5.70000000e+01]])

In [11]:
import sqlite3
conn = sqlite3.connect("homework4.db")
create_table = """CREATE TABLE IF NOT EXISTS homework4(
id integer PRIMARY KEY AUTOINCREMENT,
age float,
sex float,
bmi float,
bp float,
s1 float,
s2 float,
s3 float,
s4 float,
s5 float,
s6 float,
target float);"""
insert_data = """insert into homework4 (age, sex, bmi, bp, s1, s2, s3, s4, s5, s6, target) 
values (?,?,?,?,?,?,?,?,?,?,?);"""

cur = conn.cursor()
cur.execute(create_table)
for row in df.values:
    cur.execute(insert_data, row)
    conn.commit()

In [6]:
conn.close()

In [13]:
conn = sqlite3.connect("homework4.db")
df_test = pd.read_sql('select * from homework4', conn)
len(df_test)

884